<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"> 
 <!--创建jdbc数据源 -->  
      <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">  
                <property name="driverClassName" value="com.mysql.jdbc.Driver" />   
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis" />   
                <property name="username" value="root" />    
                <property name="password" value="qw134679" />    
      </bean>  
   
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
  <property name="dataSource" ref="dataSource" />  
  <property name="configLocation" value="classpath:mybatis-config.xml" />  
 </bean>  
 
 <!--  关键点在于通过构造注入生成SqlSessionTemplate bean -->  
 <bean id="sqlSession"     class="org.mybatis.spring.SqlSessionTemplate">   
       <constructor-arg index="0" ref="sqlSessionFactory" />   
 </bean>  
  
 <bean id="userTest" class="org.fkit.test.Test">  
  <!--注入SqlSessionTemplate实例 -->  
  <property name="sqlSessionTemplate" ref="sqlSession" />  
 </bean>  
</beans>  
