<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring_hibernate_tx/src/cn/edu/scut/test/newtest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.scut.test.newtest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring_hibernate_tx"/>
</launchConfiguration>
